body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url("../img/todo.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.mt-100 {
    margin-top: 100px;
}

#myInput {
    width: 80%;
    text-align: center;
    padding: 12px 15px;
    border-radius: 10px;
    border: 2px solid gray;
}

.add-btn {
    border-radius: 10px;
    padding: 7px 0px;
    width: 150px;
    margin-inline: auto;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.complete{
    text-decoration: line-through;
    color: red;
}

.delete {
    color: red;
    border-radius: 10px;
    padding: 5px 15px;
    background-color: white;
    text-decoration: none;
}

.delete:hover {
    color: white;
    background-color: red;
}

.task {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 10px 0px 10px 20px;
    background-color: white;
    color: rgb(30, 30, 30);
    width: 80%;
    margin-inline: auto;
    font-size: 15px;
    font-weight: 500;
}

.tasklist{
    width: 200px;
    -webkit-line-clamp: 1;
    overflow: hidden;
    cursor: pointer;
}

