@media (max-width:992px) {
    .logo-lg {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .navbar-collapse {
        background-color: #0000004a;
        border-radius: 10px;
        padding: 15px;
    }

    .hiring-badge .badge {
        top: 10px;
        right: 10px;
    }

    .follow-section .follow-page a img {
        width: 120px;
        height: 120px;
    }

    .follow-section .instagram-follow-img img {
        width: 150px !important;
        height: 150px !important;
    }

    .crew-section .crew-img img {
        width: 80px;
        height: 100px;
    }

    .help-section .help-box{
        display: block!important;
        text-align: center;
        padding: 10px;
    }

    .help-section .help-box button{
        margin-top: 10px;
    }

    .story-section .story-content {
        padding-left: 30px !important;
        padding-right: 30px !important;
    }

    .contact-section .contact-details-right {
        border-left: none;
    }
    
    .meet-section{
        padding: 100px;
    }
    
}

@media(max-width:767px){
    .home-page .header-content-link{
        display: none;
    }

    .contact-section{
        padding: 20px;
    }

    .contact-section .contact-input{
        width: 100%;
    }

    .follow-section .follow-page a img {
        width: 90px;
        height: 90px;
    }

    .follow-section .instagram-follow-img img {
        width: 110px !important;
        height: 110px !important;
    }

    .meet-section{
        padding: 100px 20px 20px;
    }

    .home-page .header-content h1 {
        font-size: 30px;
        line-height: 40px;
    }

    .home-page .header-content h2 {
        font-size: 15px;
        line-height: 25px;
    }

}

@media(max-width:576px){
    .follow-page{
        overflow-x: scroll;
    }
    .help-section{
        height: 130px;
    }

    .contact-section .contact-input{
        padding: 15px 0px;
    }

    .team-section .team-btn {
        left: 30%;
        padding: 5px 10px !important;
    }

    .rc-anchor-normal {
        width: 264px!important;
    }

    .rc-anchor-normal .rc-anchor-content {
        width: 170px!important;
    }

    .story-section .Sparkerl img {
        height: 225px;
    }

    .story-section .circle-yellow {
        width: 320px;
        height: 320px;
    }

    .heading{
        font-size: 25px;
    }

    .review-section .owl-carousel .item h3{
        font-size: 20px;
    }
}