body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: lightgray!important;
}
.signup{
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.login{
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}